<div class="container bg-dark">    
    <h2 class="text-secondary">Administração</h2>
    
</div>

<div class="container bg-dark">
    <div class="row">
        <div class="col-md-4">
            <div class="card  bg-secondary bg-gradient">
                <div class="card-header"><h5>Usuários</h5></div>
                <div class="card-body">
                    <p class="card-text">Crie Usuários</p>
                    <a class="btn btn-primary" (click)="openCreateUsuarioModal()">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card  bg-secondary bg-gradient">
                <div class="card-header"><h5>Designar tarefa</h5></div>
                <div class="card-body">
                    <p class="card-text">Alocar tarefa para usuário</p>
                    <a class="btn btn-primary" (click)="openDesignarTarefaModal()">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card  bg-secondary bg-gradient">
                <div class="card-header"><h5>Produtos</h5></div>
                <div class="card-body">
                    <p class="card-text">Gerenciar produtos</p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>
