/* Center the navigation bar contents */
.custom-navbar {
  justify-content: center;
}
.custom-navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
#navbarNav{
  margin : 0 auto;
  text-align: center;
}

.nav-link{
  font-weight: bold;
  color: #a9a9aa;
}

.nav-link:hover{
  color: #f5f3f3;
  transform: scale(1.1);
}