<div class="container bg-light">    
    <h2>Tarefas feitas</h2>
    <div>
      <ul class="myUl mb-3">
        <li *ngFor="let tarefa of tarefasConcluidas" [ngClass]="{'done': tarefa.done}">
          <!-- Verifica se tarefa.done é igual a true -->
          <ng-container *ngIf="tarefa.done === true">
            <p class="id">#{{ tarefa.taskid }}</p>
            <h4 class="tittle">{{ tarefa.taskTitle }}</h4>
            <p class="description"><strong>Description:</strong> {{ tarefa.taskDescription }}</p>
            <p class="category"><strong>Categoria:</strong> {{ tarefa.categoryName }}</p>
            <div class="button-group">
              <button class="btn btn-danger" (click)="openConfirmationModal(tarefa.id)">Deletar</button>            
            </div>
          </ng-container>
        </li>
    </ul>
  </div>
</div>
  
