<div class="container bg-light">
  <div class="row">
   
    <div class="col-6 border-right">
      <h2>Tarefas feitas</h2>
      <div class="done">
        <ul class="myUl mb-4">
          <li *ngFor="let tarefa of tarefasConcluidas" class="mb-3">
            <hr class="separar">
            <ng-container *ngIf="tarefa.done !== false">
              <p class="id">#{{ tarefa.id }}</p>
              <h4 class="tittle">{{ tarefa.title }}✔️</h4>
              <p class="description"><strong>Description:</strong> {{ tarefa.description }}</p>
              <button class="btn btn-danger deletButton" (click)="openConfirmationModal(tarefa.id)">Deletar</button>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
