<div class="container">
  <div class="row">
    <button class="btn btn-primary" (click)="openCreateTaskModal()">Criar Tarefa</button>
    <div class="col-6">
      <h2>Tarefas feitas</h2>
      <div class="done">

        <ul class="myUl">
          <li *ngFor="let tarefa of tarefasConcluidas">
            <ng-container *ngIf="tarefa.done !== false">
              <p class="id">#{{ tarefa.id }}</p>
              <h4 class="tittle">{{ tarefa.title }}</h4>
              <p class="description"><strong>Description:</strong> {{ tarefa.description }}</p>
              <button class="btn btn-danger deletButton" (click)="deleteTask(tarefa.id)">Deletar</button>
            </ng-container>
          </li>
        </ul>
        
      </div>
      
    </div>
    <div class="col-6">
      <h2>O que fazer</h2>
      <div class="willDo">
        <ul class="myUl">
          <li *ngFor="let tarefa of tarefasConcluidas">
            <ng-container *ngIf="tarefa.done === false">
              <p class="id">#{{ tarefa.id }}</p>
              <h4 class="tittle">{{ tarefa.title }}</h4>
              <p class="description"><strong>Description:</strong> {{ tarefa.description }}</p>
              <div class="button-group">
                <button class="btn btn-success" (click)="markTaskAsUndone(tarefa.id)">Feito</button>
                <button class="btn btn-danger" (click)="deleteTask(tarefa.id)">Deletar</button>
              </div> 
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
