<div class="container bg-light">
    <h2>O que fazer</h2>
    <div>
        <button class="btn btn-primary" (click)="openCreateTaskModal()">Criar Tarefa</button>
        <ul class="myUl mb-3">
            <li *ngFor="let tarefa of tasksToDo" [ngClass]="{'willDo': !tarefa.done}">
                <ng-container *ngIf="tarefa.done === false">
                <p class="id">#{{ tarefa.id }}</p>
                <h4 class="tittle">{{ tarefa.title }}</h4>
                <p class="description"><strong>Description:</strong> {{ tarefa.description }}</p>
                <div class="button-group">
                <button class="btn btn-success" (click)="markTaskAsUndone(tarefa.id)">Feito</button>
                <button class="btn btn-danger" (click)="openConfirmationModal(tarefa.id)">Deletar</button>
                <button class="btn btn-warning" (click)="openUpdateTaskModal(tarefa.id)">Editar</button>
                </div>
            </ng-container>
            </li>
        </ul>
    </div>
</div>
